<h2>Reactive: <small>Dinamics</small></h2>
<hr>

<form
    autocomplete="off"
>
    <!-- Person's name -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                placeholder="Person's name"
            >
            <span
                class="form-text text-danger"
            >
                This field is required
            </span>
        </div>
    </div>
    <!-- Add favorite -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="Add favorite"
                    (keyup.enter)="1"
                >
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="add()"
                >
                    Add
                </button>
            </div>
        </div>
    </div>
    <!-- Favorite Game List -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9">
            <!--div
                class="input-group mb-1"
                *ngFor="let game of person.favorites; let i = index"
            >
                <input
                    class="form-control"
                >
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="a=1"
                >
                    Delete
                </button>
            </div-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button
                class="btn btn-primary float-end"
                type="submit"
            >
                Save
            </button>
        </div>
    </div>
</form>
<!--span>Person</span>
<pre>{{ person | json }}</pre-->