<h2>Reactive: <small>Dinamics</small></h2>
<hr>

<form
    [formGroup]="myForm"
    autocomplete="off"
>
    <!-- Person's name -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input
                class="form-control"
                placeholder="Person's name"
                formControlName="name"
            >
            <span
                class="form-text text-danger"
                *ngIf="validField('name')"
            >
                Must be of 3 characters
            </span>
        </div>
    </div>
    <!-- Add favorite -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="Add favorite"
                    [formControl]="newFavorite"
                    (keyup.enter)="addFavorite()"
                >
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="addFavorite()"
                >
                    Add
                </button>
            </div>
        </div>
    </div>
    <!-- Favorite Game List -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div
            class="col-sm-9"
            formArrayName="favorites"
        >
            <div
                class="input-group mb-1"
                *ngFor="let favorite of favoritesArray.controls; let i = index"
            >
                <input
                    class="form-control"
                    [formControlName]="i"
                >
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="deleteFavorite(i)"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button
                class="btn btn-primary float-end"
                type="button"
                (click)="save()"
            >
                Save
            </button>
        </div>
    </div>
</form>
<span>Form Valid</span>
<pre>{{ myForm.valid }}</pre>
<span>Form Value</span>
<pre>{{ myForm.value | json }}</pre>
<br>
<span>NewFavorite Valid</span>
<pre>{{ newFavorite.valid }}</pre>
<span>NewFavorite Value</span>
<pre>{{ newFavorite.value | json }}</pre>